.hero {

    &--content {
        @include breakpoint(medium) {
            &:after {
                background: none;
            }
        }
    }

    &--center {

        @include breakpoint(medium) {

            &:after {
                background: none;
            }
        }
    }

    &__content {
        max-width: 700px;
        margin: auto;

        h2 {
            color: #000;
        }

    }


}


.hero__imgwrap {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }

}
