.hero {

    &--content {
        @include breakpoint(medium) {
            &:after {
                background: none;
            }
        }
    }

    &--center {

        @include breakpoint(medium) {

            &:after {
                background: none;
            }
        }
    }

    &__content h2 {
        color: #000;
    }
}
