@import "../../../../division-project/scss/imports/_config.scss";
@import "../../../../division-project/scss/imports/_mixins.scss";

:target {
	background: yellow !important;
}

.main-content {
	sup {
		font-size: rem-calc(14);
	}
}

.hero-text li a{
	background: #222;
	color: #ffce39;
	font-size: 1.9em;
}